<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
=======
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
>>>>>>> 49bbb8618b62732fda0e90f3bd2f857b1014ffbc
